.popup {
  display: None;
  position: fixed;
  height: 370px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c2a36;
  border: 1px solid #1c2a36;
  z-index: 1000;
  padding: 10px;
  border-radius: 10%;
}

.popup.open {
  display: block;
}

.popup-content {
  text-align: center;
  background-color: #1c2a36;
}

.close-btn {
  position: absolute;
  margin-right: 5px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 35px;
  color: #fff;
}

.textArea-message {
  width: 80%;
  height: 150px;
  background-color: transparent;
  border: 1px solid #808080;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.textArea-headline {
  margin-top: 40px;
  width: 80%;
  height: 10%;
  background-color: transparent;
  border: 1px solid #808080;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.fbtn {
  background-color: rgb(69, 55, 196);
  margin-top: 20px;
}
